<%if @types%>
<div align="center">
<table align="center">
	<tbody>		
		<tr>			
			<% @types.each do |type|%>
			   <td bgcolor="#<%= type.color%>" width="10%">&nbsp;</td>
			   <td><%= "- #{type.name}"%></td>
			   <td width="10%"></td>
			<%end%>			   			
		</tr>
	</tbody>
</table>
</div>
<%end%>
