div#work p { padding:0px 10px; float:left; }

/***** Tooltips1 ******/
.tooltip1{position:relative;z-index:24;}
.tooltip1:hover{z-index:25;color:#000;}
.tooltip1 span.tip{display: none; text-align:left;}

div.tooltip1:hover span.tip{
display:block;
position:absolute;
top:12px; right:-3px; width:200px;
border:1px solid #555;
background-color:#fff;
padding: 4px;
font-size: 0.8em;
color:#505050;
}
table.list1 { border: 1px solid #e4e4e4; border-spacing: 0; margin-bottom: 4px;}
table.list1 td.head {
	border: 1px solid #e4e4e4;
	font-size: 9px;
	font-weight: normal;
	padding: 3px 3px 3px;
	text-transform:uppercase;
	text-align: center;
}
table.list1 td { vertical-align: top; border: 1px solid #e4e4e4; text-align: left;}
table.list1 td.thisday { border: 1px solid #CCCC00;}
table.list1 td.sunday { border: 1px solid #FF9999;}

